<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         name="Desktop"
         point="info.multiplatform.mohito.generator">
      <projectInitializer
            generatorClass="info.multiplatform.mohito.generator.environment.java.MohitoModelGenerator"
            projectInitializationClass="info.multiplatform.mohito.generator.environment.desktop.DesktopProjectInitializer">
      </projectInitializer>
   </extension>
</plugin>
