<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<runtime>
	<library name="lib/ormlite-core-4.46.jar">
		<export name="*"/>
		<packages prefixes="com"/>
	</library>
	<library name="lib/ormlite-jdbc-4.46.jar">
		<export name="*"/>
		<packages prefixes="com"/>
	</library>
	<library name="lib/h2-1.3.173.jar">
		<export name="*"/>
		<packages prefixes="org"/>
	</library>
</runtime>
</plugin>
